@model Quiz

@{
    ViewData["Title"] = "Izmena kviza";
    int i = 1, j = 1;
}

<div class="container">
    <div class="row d-flex justify-content-center my-4">
        <h1 class="text-light">Izmena kviza</h1>
    </div>

    <form asp-action="UpdateQuizInfo" asp-controller="Quiz">
        <div class="row d-flex justify-content-center mb-4">

            <input type="text" name="quizId" value="@Model.Id" hidden />
            <div class="col-8 col-sm-4">
                <label style="color:red">Naziv kviza</label>
                <input type="text" name="quizTitle" class="form-control mb-2" value="@Model.Title">
            </div>
            <div class="col-8 col-sm-3">
                <label style="color:red">Kategorija</label>
                <input type="text" name="quizCategory" class="form-control mb-2" value="@Model.Category">
            </div>
            <button class="btn btn-success">Izmeni</button>

        </div>
    </form>


    @foreach (var question in Model.Questions)
    {
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-8" id="questions">
                <div class="card question-card mb-2">
                    <form asp-action="UpdateQuestion" asp-controller="Quiz">
                        <div class="card-body">
                            <input type="text" name="quizId" value="@Model.Id" hidden />
                            <input type="text" name="qTextOld" value="@question.Text" hidden />
                            <h6 class="card-subtitle mb-2 text-muted">@i</h6>
                            <input type="text" name="qText" class="form-control" value="@question.Text" />
                        </div>
                        <button class="btn btn-success">Izmeni</button>
                    </form>
                    <ul class="list-group list-group-flush" id="question_@i">
                    </ul>
                    @foreach (var answer in question.Answers)
                    {
                        <form asp-action="UpdateAnswer" asp-controller="Quiz">
                            <input type="text" name="quizId" value="@Model.Id" hidden />
                            <input type="text" name="questionText" value="@question.Text" hidden />
                            <input type="text" name="oldContent" value="@answer.Text" hidden />
                            <div class="form-check">
                                @if (answer.Correct)
                                {
                                    <input name="aCheckbox" class="form-check-input mt-2" type="checkbox" checked>
                                }
                                else
                                {
                                    <input name="aCheckbox" class="form-check-input mt-2" type="checkbox">
                                }
                                <input name="aContent" type="text" class="form-control" value="@answer.Text">
                            </div>
                            <button class="btn btn-success">Izmeni</button>
                        </form>
                    }
                </div>
            </div>
        </div>
        i++;
    }    
</div>
